/*
* LittleLink Button Styles
* https://littlelink.io
* Free to use under the MIT license
* http://www.opensource.org/licenses/mit-license.php
*/

/* Brand Button Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Only include brand-specific button styling here */
.button,button {
  color:var(--button-text,#000000);
  background-color:var(--button-background,transparent);
	border:var(--button-border,none);
	transition:filter 0.2s ease,transform 0.2s ease;
}

/* Global Button Hover Effect
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button:hover,button:hover {
	filter:brightness(90%);
	transform:translateY(-1px);
}

/* Button Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.icon {
	filter:var(--icon-filter,none);
}

/* Brand-Specific Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Default */
.button.button-default {
	--button-text:#ffffff;
	--button-background:#2457F5;
	--button-border:1px solid #ffffff;
}

/* Texas Observer */
.button-observer {
	--button-text:#000000;
	--button-background:#e3ac98;
  --button-border:1px solid #ffffff;
}

/* Bellingcat */
.button-bellingcat {
	--button-text:#ffffff;
	--button-background:#1a1918;
  --button-border:1px solid #ffffff;
}


/* Bluesky */
.button-bluesky {
	--button-text:#FFFFFF;
	--button-background:#1185FE;
}

/* Bluesky Alt */
.button-bluesky-alt {
	--button-text:#000000;
	--button-background:#FFFFFF;
	--button-border:1px solid #000000;
}

/* Discord */
.button-discord {
	--button-text:#ffffff;
	--button-background:#5865F2;
}

/* GitHub */
.button-github {
	--button-text:#ffffff;
	--button-background:#000000;
	--button-border:1px solid #FFFFFF;
}

/* LinkedIn */
.button-linked {
	--button-text:#ffffff;
	--button-background:#2867b2;
}

/* Signal */
.button-signal {
	--button-text:#ffffff;
	--button-background:#3a76f0;
}
